body{
    background-color: rgb(17, 221, 136) 
    color rgb(243, 239, 3) 
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 300px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 20px;
}
